/* body { */
    /* background: #000000; */
/* } */

.redhead {
        color: #ff0000;
    }
    
.greenhorn {
        color: #00ff00;
    }
    
.blueblood {
        color: #0000ff;
    }
    
table, td, th {
    border: 1px solid #000000;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}


